// ~~~~ LIGHT THEME ~~~~
$light-theme-txt: #1c1c1c;

$light-theme: #fff; // bgc body
$light-theme-dark1: #f0f0f0; // bgc section
$light-theme-dark2: #e1e1e1; // bgc btn or input

$light-primary: #87CF02; // color icon
$light-primary-dark1: #89bd3a; // bgc BTN
$light-primary-dark2: #89b448; // small icon or details
$light-primary-dark3: #89ac53; // smaller icon or details

// ~~~~ DARK THEME ~~~~
$dark-theme-txt: #fff;

$dark-theme: #2F4F4F; // bgc body
$dark-theme-light1: #446161; // bgc section
$dark-theme-light2: #5a7373; // bgc btn or input

$dark-primary: #F0A00C; // color icon
$dark-primary-light1: #f8b553; // bgc BTN
$dark-primary-light2: #fbbf6d; // small icon or details
$dark-primary-light3: #feca85; // smaller icon or details